<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Nothing Phone (3) flavor: Her as a Glyph Toy on the back of the phone. -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
    <application>
        <service
            android:name=".glyph.HerGlyphToyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>
            <meta-data android:name="com.nothing.glyph.toy.name" android:resource="@string/her_toy_name" />
            <meta-data android:name="com.nothing.glyph.toy.image" android:resource="@drawable/her_toy_preview" />
            <meta-data android:name="com.nothing.glyph.toy.longpress" android:value="1" />
            <meta-data android:name="com.nothing.glyph.toy.aod_support" android:value="1" />
        </service>
    </application>
</manifest>
